<p-card header="{{ titulo }}">
  <p-header>
    <div class="ui-lg-2 ui-md-3 ui-sm-6 float-right">
      <button routerLink="novo" pButton icon="pi pi-check" iconPost="left" label="Novo"></button>
    </div>
  </p-header>

  <ng-container *ngIf="listaProjetos$ | async as listaProjetos; else loading">
    <p-table #dt [columns]="colunas" [value]="listaProjetos" [responsive]="true"
    [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th [class.action]="coluna.header == 'Ações'" *ngFor="let coluna of columns">
            {{ coluna.header }}
          </th>
        </tr>
        <!-- <tr>
          <th *ngFor="let coluna of columns" [ngSwitch]="coluna.field">
            <p-multiSelect class="filtro" maxSelectedLabels="5"
              [options]="listaLideres"
              selectedItemsLabel="{0} itens selecionados"
              [(ngModel)]="filtroLider">
            </p-multiSelect>
            <p-multiSelect *ngSwitchCase="'cliente'" [options]="listaClientes" defaultLabel="Filtrar por Cliente" (onChange)="dt.filter($event.value, coluna.field, 'in')"></p-multiSelect>
            <input *ngSwitchCase="'nome'" pInputText type="text" (input)="dt.filter($event.target.value, coluna.field, 'contains')">
            <input *ngSwitchCase="'testador'" pInputText type="text" (input)="dt.filter($event.target.value, coluna.field, 'contains')">
            <input *ngSwitchCase="'revisor'" pInputText type="text" (input)="dt.filter($event.target.value, coluna.field, 'contains')">
            <input *ngSwitchCase="'gerente'" pInputText type="text" (input)="dt.filter($event.target.value, coluna.field, 'contains')">
          </th>
        </tr>  -->
      </ng-template>
      <ng-template pTemplate="body" let-projeto>
        <tr>
          <td>{{ projeto.nome  | uppercase }}</td>
          <td>{{ filtrarClientePorId(projeto.idCliente) | uppercase }}</td>
          <td>{{ filtrarLiderPorId(projeto.idLider) | uppercase }}</td>
          <td>{{ projeto.testador  | uppercase }}</td>
          <td>{{ projeto.revisor  | uppercase }}</td>
          <td>{{ projeto.gerente  | uppercase }}</td>
          <td class="action-buttons">
            <button [routerLink]="[projeto.id]" pButton icon="ui-icon-mode-edit"></button>
            <button pButton icon="pi pi-times" (click)="confirm2(projeto.id)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            <div class="text-center">
              <h3>Nenhum Registro cadastrado!</h3>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-template #loading>
    <div class="ui-g-12 loading ">
      <div class="ui-g-2 ui-g-offset-5 ">
        <p><i class="pi pi-spin pi-spinner " style="font-size: 3em "></i></p>
        <p>Preparando Projetos...</p>
      </div>
    </div>
  </ng-template>
</p-card>
<p-confirmDialog #cd [style]="{width: '50vw'}" key="confirm" [baseZIndex]="10000">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
</p-footer>
</p-confirmDialog>

