<p-card header="{{ titulo }}">

  <p-header>
    <div id="botaoNovo" class="ui-lg-2 ui-md-3 ui-sm-6 float-right">
      <button routerLink="novo" pButton icon="pi pi-check" iconPost="left" label="Novo"></button>
    </div>
  </p-header>

  <ng-container *ngIf="listaOrdemServico$ | async as listaOrdemServico; else loading ">
    <p-table [paginator]="true" [rows]="4"  [response]="true" [responsive]="true" [rowsPerPageOptions]="[2, 4, 8, 10]" [columns]="colunas" [value]="listaOrdemServico">
      <ng-template let-columns pTemplate="header">
        <tr>
          <th [class.action]="coluna.header == 'Ações'" *ngFor="let coluna of columns">
            {{ coluna.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ordemservico>
        <tr>
          <td>{{ ordemservico.nome  | uppercase}}</td>
          <td>{{ ordemservico.dataProximaEntrega | date:'dd/MM/yyyy'}}</td>
          <td>{{ ordemservico.prazo | date:'dd/MM/yyyy' }}</td>
          <td>{{ ordemservico.qtdDefeitosCliente || 0 }}</td>
          <td>{{ ordemservico.qtdDefeitosInterno || 0 }}</td>
          <td>{{ ordemservico.pontosFuncao  }}</td>
          <td>{{ ordemservico.fabrica  | uppercase}}</td>
          <td>{{ obterNomeProjeto(ordemservico.idProjeto)  | uppercase}}</td>
          <td>{{ obterNomeSituacao(ordemservico.idSituacao)  | uppercase}}</td>
          <td class="action-buttons">
            <button [routerLink]="[ordemservico.id]" pButton icon="ui-icon-mode-edit"></button>
            <button pButton icon="pi pi-times" (click)="deletar(ordemservico.id)"></button>
          </td>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            <div class="text-center">
              <h3>Nenhum Registro cadastrado!</h3>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>


  <ng-template #loading>
    <div class="ui-g-12 loading ">
      <div class="ui-g-2 ui-g-offset-5 ">
        <p><i class="pi pi-spin pi-spinner " style="font-size: 3em "></i></p>
        <p>Preparando OS's...</p>
      </div>
    </div>
  </ng-template>
</p-card>