<p-dialog header="Gerenciamento de Sprints" [(visible)]="exibir" [style]="{ 'width': '80vw' }">

  <p-card [header]="titulo">
    <form [formGroup]="form">
      <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label>Nome:</label>
          <input type="text" pInputText formControlName="nome">
        </div>
      </div>

      <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label>Data Inicio:</label>
          <p-calendar formControlName="dataInicio" showButtonBar="true" [readonlyInput]="true" [locale]="dataBr"
            dateFormat="dd/mm/yy" [yearNavigator]="true" [monthNavigator]="true" yearRange="1950:2060"></p-calendar>
        </div>
      </div>

      <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label>Data Termino:</label>
          <p-calendar formControlName="dataTermino" showButtonBar="true" [readonlyInput]="true" [locale]="dataBr"
            dateFormat="dd/mm/yy" [yearNavigator]="true" [monthNavigator]="true" yearRange="1950:2060"></p-calendar>
        </div>
      </div>


      <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label>Pontos Função:</label>
          <input type="text" pInputText formControlName="pontosFuncao">
        </div>
      </div>

      <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label>Impedimentos:</label>
          <p-radioButton name="impedimento" value="true" formControlName="impedimento" label="Sim"></p-radioButton>
          <p-radioButton name="impedimento" value="false" formControlName="impedimento" label="Não"></p-radioButton>
        </div>
      </div>

      <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label>Dentro Do Prazo:</label>
          <p-radioButton name="prazo" value="true" formControlName="prazo" label="Sim"></p-radioButton>
          <p-radioButton name="prazo" value="false" formControlName="prazo" label="Não"></p-radioButton>
        </div>
      </div>


      <div class="ui-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label>Status:</label>
          <p-dropdown [options]="status" placeholder="Indique um Status" formControlName="idStatus"></p-dropdown>
        </div>
      </div>

      <div class="ui-g text-right">
        <div class="ui-lg-2 ui-md-3 ui-sm-6">
          <button pButton icon="ui-icon-check-circle" iconPos="left" label="Salvar" (click)="enviarForm()"></button>
        </div>

        <div class="ui-lg-2 ui-md-3 ui-sm-6">
          <button pButton icon="pi pi-times" iconPos="left" label="Cancelar" routerLink="/"></button>
        </div>
      </div>
    </form>
  </p-card>
</p-dialog>