<p-card header="{{ titulo }}">
  <p-header>
    <div class="ui-lg-2 ui-md-3 ui-sm-6 float-right">
      <button routerLink="novo" pButton icon="pi pi-check" iconPost="left" label="Novo"></button>
    </div>
  </p-header>
  <ng-container *ngIf="listaLideres$ | async as listaLideres; else loading">
    <p-table #dt id='dt' [paginator]="true" [rows]="2" [rowsPerPageOptions]="[2, 4, 8, 10]" [responsive]="true"
    [columns]="colunas" [value]="listaLideres" [filterDelay]="0">
      <ng-template let-columns pTemplate="header">
        <tr>
          <th [class.action]="coluna.header == 'Ações'" *ngFor="let coluna of columns" [pSortableColumn]="coluna.field">
            <span [ngClass]="{'alinhaCampoAcao': coluna.header == 'Ações'}">{{ coluna.header }}</span>
            <p-sortIcon *ngIf="coluna.header != 'Ações'" [field]="coluna.field" ></p-sortIcon>
            <input *ngIf="coluna.header != 'Ações'" pInputText type="text" (input)="dt.filter($event.target.value, coluna.field, 'contains')">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lider let-columns="colunas">
        <tr style="text-transform: uppercase;">
          <td>{{ lider.nome  }}</td>
          <td>{{ lider.contato  }}</td>
          <td class="action-buttons">
            <button [routerLink]="[lider.id]" pButton icon="ui-icon-mode-edit"></button>
            <button pButton icon="pi pi-times" (click)="confirm2(lider.id)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            <div class="text-center">
              <h3>Nenhum Registro cadastrado!</h3>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-template #loading>
    <div class="ui-g-12 loading ">
      <div class="ui-g-2 ui-g-offset-5 ">
        <p><i class="pi pi-spin pi-spinner " style="font-size: 3em "></i></p>
        <p>Preparando Dashboard...</p>
      </div>
    </div>
  </ng-template>
</p-card>
<p-confirmDialog #cd [style]="{width: '50vw'}" key="confirm" [baseZIndex]="10000">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
</p-footer>
</p-confirmDialog>
