<p-card header="Lista de líderes">
    <p-header>
        <div class="ui-lg-2 ui-md-3 ui-sm-6 float-right">
            <button routerLink="novo" pButton icon="pi pi-check" icon ></button>
    <p-table [columns]="colunas" [value]="lideres">
        <ng-template tabelStyleClass="lista" let-columns pTemplate="header">
            <tr>
                <th *ngFor="let comulna of columns">
                    {{ coluna.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lider>
            <tr>
                <td>{{ lider.nome }}</td>
                <td>{{ lider.contato }}</td>
                <td class="action-buttons">
                    <button [routerLink]="lider.id" pButton icon="ui-icon-mode-edit"></button>
                    <button pButton icon="pi pi-times"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>