<p-card header="{{ titulo }}">
  <p-header>
    <div class="ui-lg-2 ui-md-3 ui-sm-6 float-right">
      <button routerLink="novo" pButton icon="pi pi-check" iconPost="left" label="Novo"></button>
    </div>
  </p-header>
  <ng-container *ngIf="listaLideres$ | async as listaLideres; else loading">
    <p-table #dt [paginator]="true" [rows]="2" [rowsPerPageOptions]="[2, 4, 8, 10]" [responsive]="true"
    [columns]="colunas" [value]="listaLideres" [filterDelay]="0">
      <!-- <ng-template pTemplate="caption">
        <div class="table-header">
          Filtro
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'startsWith')" placeholder="Busca global" />
            </span>
        </div>
      </ng-template> -->
      <ng-template let-columns pTemplate="header">
        <tr>
          <th [class.action]="coluna.header == 'Ações'" *ngFor="let coluna of columns">
            {{ coluna.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lider>
        <tr>
          <td>{{ lider.nome  | uppercase}}</td>
          <td>{{ lider.contato  | uppercase}}</td>
          <td class="action-buttons">
            <button [routerLink]="[lider.id]" pButton icon="ui-icon-mode-edit"></button>
            <button pButton icon="pi pi-times" (click)="deletar(lider.id)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="columns.length">
            <div class="text-center">
              <h3>Nenhum Registro cadastrado!</h3>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <ng-template #loading>
    <div class="ui-g-12 loading ">
      <div class="ui-g-2 ui-g-offset-5 ">
        <p><i class="pi pi-spin pi-spinner " style="font-size: 3em "></i></p>
        <p>Preprando Dashboard...</p>
      </div>
    </div>
  </ng-template>
</p-card>
